.header {
    border-bottom: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 250px;
    position: relative;
}

.header__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: white;
}

.header__logo {
  width: 100px;
  height: 150px;
}