@import url('./styles/Header.css');
@import url('./styles/AnnouncesBox.css');
@import url('./styles/MembersList.css');
@import url('./styles/Dashboard.css');
@import url('./styles/Popup.css');
@import url('./styles/Form.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}